@font-face {
   font-family: 'Slayer-Plain';
   font-display: swap;
   src: url('Slayer-Plain/font.TTF');
}
@font-face {
   font-family: 'BodoniFLF-Roman';
   font-display: swap;
   src: url('BodoniFLF-Roman/font.ttf');
}
