@font-face {
   font-family: 'BodoniFLF-Roman';
   font-display: swap;
   src: url('file:///C:/Users/fibo/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-11-19_124117/fonts/BodoniFLF-Roman/font.ttf');
}
